node_modules/
.ngrok/
.idea/
.turbo/
.husky/
.github/
apps/server/cypress
apps/ui/dist
cypress/

**/node_modules

architectureDecisionRecords/

apps/server/.env

playwright-report/

*.md

**/.turbo/
*.rdb

