# monorepo
.turbo

test.js
test.ts
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
out/
build/
coverage/
.ngrok/

# See https://github.com/vitejs/vite/issues/13267
vite.config*timestamp*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.lh/*
.idea/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

cypress.env.json
cypress/screenshots/
cypress/videos/
apps/server/cypress/screenshots
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

apps/server/cachedDefaults/preferences.json
*.rdb

*-test.sh