services:

  server:
    depends_on:
      elasticsearch:
        condition: service_healthy
      cache:
        condition: service_healthy
      ui:
        condition: service_healthy
    container_name: ucw-app-server
    restart: on-failure
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://server:${SERVER_PORT}/health"]
      start_period: 30s
      interval: 10s
      timeout: 5s
      retries: 4
    build:
      context: .
      dockerfile: ./docker-server.Dockerfile
      args:
        APP: server
      <<:
        x-bake:
          platforms:
            - linux/arm64
            - linux/amd64
    image: universalconnectfoundation/ucw-app-server:v${DOCKER_IMAGE_SERVER}
    networks:
      - ucw
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    env_file:
      - ./apps/server/.env
    environment:
      - ELASTIC_SEARCH_URL=http://ucw-app-elasticsearch:9200
      - ResourcePrefix=http://ui:5173
      - RedisServer=redis://cache:6379

  ui:
    container_name: ucw-app-ui
    restart: on-failure
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://ui:${UI_PORT}"]
      start_period: 5s
      interval: 20s
      timeout: 5s
      retries: 3
    build:
      context: .
      dockerfile: ./docker-ui.Dockerfile
      args:
        APP: ui
      <<:
        x-bake:
          platforms:
            - linux/arm64
            - linux/amd64
    image: universalconnectfoundation/ucw-app-ui:v${DOCKER_IMAGE_UI}
    networks:
      - ucw
# Uncomment to expose to host. Currently not needed
#    ports:
#      - "${UI_PORT}:${UI_PORT}"
    env_file:
      - .env

  cache:
    container_name: ucw-app-cache
    image: redis:7.2-alpine
    restart: on-failure
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 5s
      interval: 20s
      timeout: 5s
      retries: 3
    networks:
      - ucw
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - cache:/data

  elasticsearch:
    container_name: ucw-app-elasticsearch
    image: elasticsearch:8.13.4
    restart: on-failure
    networks:
      - ucw
    healthcheck:
      test: curl --write-out 'HTTP %{http_code}' --fail --silent --output /dev/null http://ucw-app-elasticsearch:9200/
      start_period: 10s
      interval: 10s
      timeout: 10s
      retries: 5
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false

volumes:
  cache:
    driver: local

networks:
  ucw:
    driver: bridge
