name: 'Publish Docker image'

on:
  push:
    # only trigger on branches, not on tags
    branches:
      - '**'
#      - main
#  release:
#    branches: [tyson/gh-actions]
#    types: [published]

jobs:
  setup-env:
    name: 'Load ENV Vars'
    uses: ./.github/workflows/setup-env.yml
    secrets: inherit

  push_to_registry:
    name: 'Push Docker image to Docker Hub'
    runs-on: ubuntu-latest
    needs: [setup-env]

    steps:
      - name: 'Check out the repo'
        uses: actions/checkout@v4

      - name: 'Set up Node'
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: 'Create env file'
        env:
          env_vars: ${{ needs.setup-env.outputs.env_vars }}
        run: |
          echo "REF=${{ github.event.pull_request && github.head_ref || github.ref_name }}" >> $GITHUB_ENV
          
          echo "REF: $REF"
          touch .env
          
          # Vars
          echo -e "${{ env.env_vars }}" >> .env
          echo RESOURCEVERSION="" >> .env
          echo DOCKERPUBLISHVERSIONAPP="v$(npm pkg get version | xargs)" >> .env
            
          # Secrets (can't load these from another job, due to GH security features)
          echo DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }} >> .env
          echo DOCKER_TOKEN=${{ secrets.DOCKER_TOKEN }} >> .env
          cat .env

      - name: 'Get UI version'
        working-directory: ./ui
        run: |
          echo DOCKERPUBLISHVERSIONUI="v$(npm pkg get version | xargs)" >> ../.env
          cat ../.env

      - name: 'Log in to Docker Hub'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: 'Build Docker images'
        working-directory: ./
        run: |
          docker compose build
#          docker compose build --quiet --push --env-file .env

#      - name: 'Push Docker image'
#        run: |
#          docker compose push
