name: 'Publish Docker image'
# TODO: add step to populate .env file

on:
  push:
    # only trigger on branches, not on tags
    branches:
      - '**'
#      - main
#  release:
#    branches: [tyson/gh-actions]
#    types: [published]

jobs:
  setup-env:
    name: 'Load ENV Vars'
    uses: ./.github/workflows/setup-env.yml

  push_to_registry:
    needs: [setup-env]
    name: 'Push Docker image to Docker Hub'
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

#      - name: Log in to Docker Hub
#        uses: docker/login-action@v3
#        with:
#          username: ${{ secrets.DOCKER_USERNAME }}
#          password: ${{ secrets.DOCKER_TOKEN }}
#
#      - name: Build and push Docker image
#        run: docker compose push
