name: 'Publish Docker image'
# TODO: add step to populate .env file

on:
  push:
    # only trigger on branches, not on tags
    branches:
      - '**'
#      - main
#  release:
#    branches: [tyson/gh-actions]
#    types: [published]

jobs:
  setup-env:
    name: 'Load ENV Vars'
    uses: ./.github/workflows/setup-env.yml
    secrets: inherit

  push_to_registry:
    name: 'Push Docker image to Docker Hub'
    runs-on: ubuntu-latest
    needs: [setup-env]

    steps:
      - name: 'Create env file'
        env:
          env_vars: ${{ needs.setup-env.outputs.env_vars }}
          env_secrets: ${{ needs.setup-env.outputs.env_secrets }}
        run: |
          touch .env
          # Vars
          echo -e ${{ env.env_vars }} >> .env
          echo RESOURCEVERSION="" >> .env

          # Secrets (can't load these from another job, due to GH security features)
          echo CRYPTOIV=${{ secrets.CRYPTOIV }} >> .env
          echo CRYPTOKEY=${{ secrets.CRYPTOKEY }} >> .env
          echo UCPAUTHCLIENTID=${{ secrets.UCP_CLIENT_ID }} >> .env
          echo UCPAUTHCLIENTSECRET=${{ secrets.UCP_CLIENT_SECRET }} >> .env
          echo UCPAUTHENCRYPTIONKEY=${{ secrets.UCP_ENCRYPTION_KEY }} >> .env

          cat .env  

#      - name: Check out the repo
#        uses: actions/checkout@v4

#          echo ${{ fromJson(needs.setup-env.outputs.secrets) }}

#      - name: Log in to Docker Hub
#        uses: docker/login-action@v3
#        with:
#          username: ${{ secrets.DOCKER_USERNAME }}
#          password: ${{ secrets.DOCKER_TOKEN }}
#
#      - name: Build and push Docker image
#        run: docker compose push
