name: MX Playwright Tests

on: pull_request

jobs:
  setup-env:
    name: "Load ENV Vars"
    uses: ./.github/workflows/setup-env.yml
    secrets: inherit

  e2e-tests:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs: [setup-env]

    services:
      elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:8.13.4
        options: >-
          --health-cmd "curl --silent --fail http://localhost:9200/_cluster/health?wait_for_status=yellow&timeout=30s || exit 1"
          --health-interval 10s
          --health-timeout 35s
          --health-retries 5
        ports:
          - 9200:9200
          - 9300:9300
        env:
          discovery.type: single-node
          xpack.security.enabled: false

      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 20s
          --health-timeout 5s
          --health-retries 5
        ports:
          - "${{vars.REDIS_PORT}}:${{vars.REDIS_PORT}}"

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/Iron
      - name: Install dependencies
        run: npm ci

      - run: npm run copyMXTestPreferences

      - name: "Create env file"
        run: |
          ENV_FILE_PATH=./apps/server/.env
          touch ${ENV_FILE_PATH}

          # Vars
          echo -e "${{ needs.setup-env.outputs.env_vars }}" >> ${ENV_FILE_PATH}

          # Secrets (can't load these from another job, due to GH security features)
          echo MX_CLIENT_ID=${{ secrets.MX_CLIENT_ID }} >> ${ENV_FILE_PATH}
          echo MX_API_SECRET=${{ secrets.MX_API_SECRET }} >> ${ENV_FILE_PATH}

          # This fails if using https, so we have to override it
          echo HOST_URL=http://localhost:8080 >> ${ENV_FILE_PATH}

          cat ${ENV_FILE_PATH}

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npm run playwright:test --workspace=packages/mx-adapter

      - name: List files to check report location
        run: |
          echo "Listing contents of the root directory:"
          ls -la
          echo "Listing contents of apps/server:"
          ls -la apps/server
          echo "Attempting to list playwright-report in root:"
          ls -la playwright-report || echo "--> playwright-report not found in root"
          echo "Attempting to list playwright-report in apps/server:"
          ls -la apps/server/playwright-report || echo "--> playwright-report not found in apps/server"
          pwd # Print current working directory

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
