
name: Setup env file

on:
  workflow_call:
    outputs:
      env_secrets:
        description: 'Secrets file'
        value: ${{ jobs.env-file.outputs.vars }}
      env_vars:
        description: 'Vars file'
        value: ${{ jobs.env-file.outputs.secrets }}

jobs:
  env-file:
    name: 'Workflow: Load ENV Vars'
    runs-on: ubuntu-latest

    outputs:
      secrets: ${{ steps.env-setup.outputs.SECRETS }}
      vars: ${{ steps.env-setup.outputs.VARS }}

    steps:
      - name: Loading repository variables to real env vars
        id: env-setup
        shell: bash
        env:
          SECRETS: ${{ toJSON(secrets) }}
          VARS: ${{ toJSON(vars) }}
        run: |
          echo "$SECRETS" | jq -r 'keys[] as $k | "echo \"\($k)=\(.[$k] )\" >> $GITHUB_OUTPUT"' > ./update_secrets.sh
          echo "$VARS" | jq -r 'keys[] as $k | "echo \"\($k)=\(.[$k] )\" >> $GITHUB_OUTPUT"' > ./update_vars.sh
          
          echo "-------------------------"
          echo "$(/bin/cat ./update_secrets.sh)"
          echo "-------------------------"
          echo "$(/bin/cat ./update_vars.sh)"
          echo "-------------------------"
          
          chmod +x ./update_secrets.sh
          chmod +x ./update_vars.sh
          
          ./update_secrets.sh
          ./update_vars.sh
