#echo "$SECRETS" | jq -r 'keys[] as $k | "echo \"\($k)=\(.[$k] )\" >> $GITHUB_OUTPUT"' > ./update_secrets.sh
#echo "$VARS" | jq -r 'keys[] as $k | "echo \"\($k)=\(.[$k] )\" >> $GITHUB_OUTPUT"' > ./update_vars.sh

#          chmod +x ./update_secrets.sh
#          chmod +x ./update_vars.sh
#
#          ./update_secrets.sh
#          ./update_vars.sh

name: Setup env file

on:
  workflow_call:
    outputs:
      env_secrets:
        description: 'Secrets file'
        value: ${{ jobs.env-file.outputs.secrets }}
      env_vars:
        description: 'Vars file'
        value: ${{ jobs.env-file.outputs.vars }}

jobs:
  env-file:
    name: 'Workflow: Load ENV Vars'
    runs-on: ubuntu-latest

    outputs:
      secrets: ${{ steps.env-setup.outputs.SECRETS }}
      vars: ${{ steps.env-setup.outputs.VARS }}

    steps:
      - name: Loading repository variables to real env vars
        id: env-setup
        shell: bash
        env:
          SECRETS: ${{ toJSON(secrets) }}
          VARS: ${{ toJSON(vars) }}
        run: |
          
          echo "$SECRETS" | jq -r 'keys[] as $k | "\($k)=\(.[$k] )"' > ./update_secrets.txt
          echo "$VARS" | jq -r 'keys[] as $k | "\($k)=\(.[$k] )"' > ./update_vars.txt
               
          echo "-------------------------"
          echo "$(/bin/cat ./update_secrets.txt)"
          echo "-------------------------"
          echo "$(/bin/cat ./update_vars.txt)"
          echo "-------------------------"

          secrets=$(/bin/cat ./update_secrets.txt)
          vars=$(/bin/cat ./update_vars.txt)
          
          {
            echo 'SECRETS<<EOF'
            echo "$secrets"
            echo 'EOF'
            echo 'VARS<<EOF'
            echo "$vars"
            echo 'EOF'
          } >> $GITHUB_OUTPUT
