name: Unit/Integration tests

on: pull_request

jobs:
  setup-env:
    name: 'Load ENV Vars'
    uses: ./.github/workflows/setup-env.yml
    secrets: inherit

  run-jest-tests:
    name: Jest Tests
    runs-on: ubuntu-latest
    needs: [setup-env]

    steps:
      - name: Checkout under $GITHUB_WORKSPACE
        uses: actions/checkout@v4

      - name: Set up NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          check-latest: true

      - name: Install all dependencies
        run: |
          npm ci

      - run: npm run copyTestPreferences

      - name: 'Create env file'
        env:
          env_vars: ${{ needs.setup-env.outputs.env_vars }}
        run: |
          ENV_FILE_PATH=./apps/server/.env
          MXADAPTER_ENV_FILE_PATH=./packages/mx-adapter/.env
          touch ${ENV_FILE_PATH}
          touch ${MXADAPTER_ENV_FILE_PATH}

          # Vars
          echo -e "${{ env.env_vars }}" >> ${ENV_FILE_PATH}
          echo RESOURCEVERSION="" >> ${ENV_FILE_PATH}

          echo SOPHTRONAPIUSERID=testUserId >> ${ENV_FILE_PATH}
          echo SOPHTRONAPIUSERSECRET=testUserSecret >> ${ENV_FILE_PATH}

          echo MXCLIENTID=testClientId >> ${ENV_FILE_PATH}
          echo MXAPISECRET=testClientSecret >> ${ENV_FILE_PATH}

          # Secrets (can't load these from another job, due to GH security features)          
          
          # Copy the env file to the authentication service
          cp ${ENV_FILE_PATH} ${MXADAPTER_ENV_FILE_PATH}
      - run: npm run build --workspace packages/mx-adapter

      - name: Run Jest Tests
        run: |
          npm run test
